<form [formGroup]="registerForm" (ngSubmit)="submitForm()">
  <!-- First name input -->
  <div class="form-outline mb-4">
    <fieldset [disabled]="isSubmitting">
      <fieldset class="form-group">
        <input id="firstNameField"
               formControlName="firstName"
               class="form-control form-control-lg"
               type="text" />
        <label class="form-label" for="firstNameField">First name</label>
      </fieldset>
    </fieldset>
  </div>

  <!-- Last name input -->
  <div class="form-outline mb-4">
    <fieldset [disabled]="isSubmitting">
      <fieldset class="form-group">
        <input id="lastNameField"
               formControlName="lastName"
               class="form-control form-control-lg"
               type="text" />
        <label class="form-label" for="lastNameField">Last name</label>
      </fieldset>
    </fieldset>
  </div>

  <!-- Phone number input -->
  <div class="form-outline mb-4">
    <fieldset [disabled]="isSubmitting">
      <fieldset class="form-group">
        <input id="phoneNumberField"
               formControlName="phoneNumber"
               class="form-control form-control-lg"
               type="text" />
        <label class="form-label" for="phoneNumberField">Phone number</label>
      </fieldset>
    </fieldset>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <fieldset [disabled]="isSubmitting">
      <fieldset class="form-group">
        <input id="emailField"
               formControlName="email"
               class="form-control form-control-lg"
               type="email" />
        <label class="form-label" for="emailField">Email address</label>
      </fieldset>
    </fieldset>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <fieldset [disabled]="isSubmitting">
      <fieldset class="form-group">
        <input id="passwordField"
               formControlName="password"
               class="form-control form-control-lg"
               type="password" />
        <label class="form-label" for="passwordField">Password</label>
      </fieldset>
    </fieldset>
  </div>

  <!-- Confirm Password input -->
  <div class="form-outline mb-4">
    <fieldset [disabled]="isSubmitting">
      <fieldset class="form-group">
        <input id="confirmPasswordField"
               formControlName="confirmPassword"
               class="form-control form-control-lg"
               type="password" />
        <label class="form-label" for="confirmPasswordField">Confirm password</label>
      </fieldset>
    </fieldset>
  </div>

  <div class="d-flex justify-content-around align-items-center mb-4">
    <!-- Checkbox -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
      <label class="form-check-label" for="form1Example3"> Remember me </label>
    </div>

    <!-- Register button -->
    <a [routerLink]="['/login']">Already have an account?</a>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
</form>
